__pycache__/
.env
.venv/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
data/raw/*
data/processed/*
data/chroma/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/chroma/.gitkeep
*.pyc
.DS_Store
logs/
*.log
